        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&family=Poppins:wght@300;400;500;600&display=swap');
        body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            text-decoration: none;
            list-style-type: none;
            outline: none;
            background: #33a082;
        }
        
        .container {
            width: 100%;
            margin: 1em auto;
        }
        
        .grid {
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            justify-content: center;
        }
        
        .card {
            border: 10px;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(5px);
            border-top: 1px solid #a03351;
            border-left: 1px solid #a03351;
            margin-top: 10px;
            padding: 5px;
        }
        
        .name {
            font-size: 20px;
            font-weight: 600;
        }
        
        .card h3 {
            font-size: 15px;
            font-weight: 500;
        }
        
        .search {
            display: flex;
            align-items: center;
            bg
        }